.lot-page {
    display: flex;
    justify-content: center;

    &__information {
        width: 750px;
        margin: 2rem;
    }

    &__auction-bar {
        min-width: 350px;
        margin: 2rem;
    }

}