.lot-main-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        :last-child{
            font-size: 1.3rem;
        }
    }
}