.lot-card {
 //   width: 14rem;
    margin: 1rem;


    align-items: center;

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        width: auto;
        height : 14rem;

        .card-img-top {
            width: auto;
        }
    }

    &__body {
        width: 100%;
        position: relative;

        .edit-button {
            position: absolute;
            top: 5px;
            right: 5px;
            background-color: transparent;
            border:0;
            -webkit-appearance:none;
            font-size: 1.5rem;
            line-height: 1;
            opacity: 0.5;
            padding: 0;

            &:hover{
                opacity: 0.75;
            }
        }
    }

    &__bottom-container {
        display: flex;
        justify-content: space-between; 

        p {
            margin-bottom: 0;
        }
    }
}