.lot-auction-bar {

    display: flex;
    flex-direction: column;
    background: #ECEEEF;
    border-radius: 5px;
    padding: 1rem;

    &__item {
        margin: 1rem 1rem 0 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #979797;

        &:last-child {
            border-bottom: 0px;
        }
    
    }

    
    .auction-secondary-info {
        display: flex;
        flex-direction: column;
        
        &__item {
            display: flex;
            justify-content: space-between;
            margin: 0.1rem;
        }
    }

    .auction-main-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &__item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            :last-child{
                font-size: 1.3rem;
            }
        }
    }

    

    .bet-list {

        overflow: auto;
        max-height: 100px;

        &__item {
            display: flex;
            padding: 0.25rem 0.75rem; 
            justify-content: space-between;
        }

    }
}


