.lot-auction-bar {

    display: flex;
    flex-direction: column;


    &__item {
        margin: 1rem 1rem 0 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid #979797;

        &:last-child {
            border-bottom: 0px;
        }

        .lot-auction-bar-winner{
            display: flex;
            justify-content: center;
            font-size: 1.3rem;
        }
    
    }

    
      

    

    
}


