.lot-information {

    &__image-container {
        height: 300px;
        text-align: center;
        border: 1px solid #ECEEEF;
        border-radius: 5px;
        margin-bottom: 3rem;
        overflow: hidden;
    }

    &__creator {
        display: flex;
        
        :last-child{
            margin-left: 1rem;
        }
    }
}
