.lot-information {

    &__image-container {
        height: 300px; 
        width: 100%;
        text-align: center;
        border: 1px solid #ECEEEF;
        border-radius: 5px;
        margin: 3rem 0 3rem 0;
        padding: 1rem;
    }

    &__creator {
        display: flex;
        
        :last-child{
            margin-left: 1rem;
        }
    }
}
