.auth {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &__content {
        width: 300px;
        position: relative;

        .server-errors {
            position: absolute;
            width: 300px;
            margin-top: 1rem;
            font-size: 80%;
            color: #dc3545;
        }
    }

    button {
        width: 100%;
    }
}