.form-text-field {
    position: relative;
    
    &__error {
        margin : 0;
        
        &_right {
            position: absolute;
            margin-left: 0.5rem;
            left: 100%;
            top: 50%;
            transform: translateY(-50%);
        }

        &_bottom {

        }

        &_none {
            display: none;
        }
    }
}