.lot-edit {
    margin: 0 auto;
    width: 800px;
    margin-top: 2rem;
    margin-bottom: 2rem;

    .react-datepicker-wrapper {
        display: block;
    }

    .react-datepicker-popper {
        z-index: 10;
    }

}